*.aux
*.fls
*.log
*.out
*.gz
*.toc
*.txt
*.fdb_latexmk
*.pdf
*.csv
!main.pdf
node_modules/

# Python
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Gurobi license (no subir al repo)
gurobi.lic

# results y figures
results/
figures/
# Excepciones explícitas
!requirements.txt
