# Librerías permitidas por enunciado
gurobipy==13.0.1
numpy>=1.26.0
pandas>=2.2.0
# Esto es extra, pero es necesario para visualizar los resultados, no es necesario para la parte de optimización.
matplotlib>=3.8.0
